.toggle {
  position: fixed;
  top: 20px; 
  right: 20px;
  background-color: inherit;
  border: 1px solid rgb(202, 14, 14);
  color: red;
  padding: 10px 20px;
  cursor: pointer;
}
.toggle.show-section {
  background-color: #55c2d8;
  border: none;
  color: white;
}

.show{
  display: flex;
}

.app-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.app-section_community {
  background-color: #fff;
  width: 100%;
  height: 800px;
}
.app-title {
  font-size: 3.25rem;
  line-height: 3.2rem;
  text-align: center;
}
.hide{
  display: none;
}

.app-subtitle {
  font-size: 1.5rem;
  line-height: 1.625rem;
  font-weight: 300;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif, Arial;
}





.card{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.app-section_cards_card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 330px;
    height: 400px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #fff;
    transition: 300ms;
    cursor: pointer;
  }
  
  .app-section_cards_card:hover {
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
    transition: 300ms;
  }
  
  .app-section_cards_card--img {
    width: 150px;
    height: 150px;
    flex-shrink: 0;
    background: rgb(255, 252, 252) 0px 0px / 100% 100% no-repeat;
  }
  
  .app-section_cards_card--p {
    width: 234px;
    height: 75px;
    flex-shrink: 0;
    color: #666;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }
  
  .app-section_cards_card--aut {
    width: 128px;
    height: 16px;
    flex-shrink: 0;
    color: #464547;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 17.5px;
    /* 145.833% */
    letter-spacing: 1.2px;
    text-transform: uppercase;
    margin-top: 20px;
  }
  
  .app-section_cards_card--info {
    width: 108px;
    height: 30px;
    flex-shrink: 0;
    color: #666;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    /* 133.333% */
  }