.join-our-program {
  margin-top: 100px;
  margin-left: 12rem;
  width: 80%;
  height: 436px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
      to top,
      rgba(5, 17, 18, 0.5),
      rgba(5, 17, 18, 0.5)
    ),
    url(../../assets/join.png) no-repeat center/cover;
  background-position: center;
  box-sizing: border-box;
}

.join-our-program > h1 {
  font-size: 3rem;
  text-align: center;
  color: #fff;
}
.join-our-program > h2 {
  flex-shrink: 0;
  color: #fff;
  font-size: 1.3rem;
  line-height: 1.625rem;
  font-weight: 300;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif, Arial;
}

input {
  width: 400px;
  height: 36px;
  flex-shrink: 0;
  background: rgba(255, 255, 255, 0.15);
  border: none;
  outline: none;
  border-radius: 10px;
  color: #fff;
  padding-left: 10px;
  font-size: 20px;
}
button {
  margin-left: 10px;
  background-color: #55c2d8;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  outline: none;
  padding: 10px 30px;
}
